<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Enter the features below</h2>
    <form id="features" name="f">
        Feature 1:
        <input type="text" name="f1">
        <br> <br> Feature 2:
        <input type="text" name="f2">
        <br> <br> Feature 3:
        <input type="text" name="f3">
        <br> <br> Feature 4:
        <input type="text" name="f4">
        <br> <br> Feature 5:
        <input type="text" name="f5">
        <br> <br>
        <a href="result.html"><input type="button" value="Submit">
        </a>
        
    </form>
</body>
</html>